ApacheCMDA-Backend/logs/
ApacheCMDA-Backend/.idea/
ApacheCMDA-Frontend/.idea/
ApacheCMDA-Backend/.settings/
ApacheCMDA-Frontend/.settings/
ApacheCMDA-Backend/.idea_modules/
ApacheCMDA-Frontend/.idea_modules/
ApacheCMDA-Frontend/target/
ApacheCMDA-Backend/target/
ApacheCMDA-Backend/project/target/
ApacheCMDA-Frontend/project/target/
ApacheCMDA-Backend/.DS_Store
ApacheCMDA-Frontend/.DS_Store
.DS_Store
ApacheCMDA-Frontend/data/db.h2.db
ApacheCMDA-Frontend/data/db.lock.db
ApacheCMDA-Frontend/logs/application.log
