table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid black;
}
.cursor
{
    cursor:pointer;
}
.delete_button
{
    float:right;
    margin-top:10px
}
.update_button
{
    float:right;
    margin-top:10px
}
.commenter_color
{
    color:blue;
}
.comment_background
{
    background-color: moccasin;
}