@*******************************************************************************
* Licensed to the Apache Software Foundation (ASF) under one or more *
* contributor license agreements. See the NOTICE file distributed with *
* this work for additional information regarding copyright ownership. *
* The ASF licenses this file to You under the Apache License, Version 2.0 *
* (the "License"); you may not use this file except in compliance with *
* the License. You may obtain a copy of the License at *
* *
* http://www.apache.org/licenses/LICENSE-2.0 *
* *
* Unless required by applicable law or agreed to in writing, software *
* distributed under the License is distributed on an "AS IS" BASIS, *
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. *
* See the License for the specific language governing permissions and *
* limitations under the License. *
*******************************************************************************@
@(username: String, id: String)

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse" style="height :">
            <ul class="nav navbar-nav">

                <li><a href="@routes.HomeController.home(id)">Home</a>
                </li>
                <li><a href="@routes.ProfileController.get(id)">About</a></li>
                <li><a href="/">Post</a></li>
                <li><a href="@routes.CriteriaController.home(id)">Users</a></li>
                @*<li class="dropdown"><a href="#"*@
                @*class="dropdown-toggle" data-toggle="dropdown">Support<b*@
                @*class="caret"></b></a>*@
                @*<ul class="dropdown-menu">*@
                @*<li><a href="@routes.AccountController.getServiceLog">Service Execution Log List</a></li>*@
                @*<li><a href="@routes.AccountController.searchServiceLog">Service Execution Log Search</a></li>*@
                @*</ul>*@
                @*</li>*@
                <li><a href="#">Feeds</a>
                </li>
            </ul>
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="searchPost" action="/network/search/post/@id" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Post" name="srch-term" id="srch-term">
                        <div class="input-group-btn" role="group">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            @*<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-list"></i></button>*@
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown"><a href="#"
                class="dropdown-toggle" data-toggle="dropdown">@username <b
                class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="@routes.LoginController.login()">Log Out</a></li>

                    </ul>

                </li>

            </ul>
        </div>
            <!--/.nav-collapse -->
    </div>
</div>