@*******************************************************************************
* Licensed to the Apache Software Foundation (ASF) under one or more * *
contributor license agreements. See the NOTICE file distributed with * *
this work for additional information regarding copyright ownership. * *
The ASF licenses this file to You under the Apache License, Version 2.0
* * (the "License"); you may not use this file except in compliance with
* * the License. You may obtain a copy of the License at * * * *
http://www.apache.org/licenses/LICENSE-2.0 * * * * Unless required by
applicable law or agreed to in writing, software * * distributed under
the License is distributed on an "AS IS" BASIS, * * WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. * * See the
License for the specific language governing permissions and * *
limitations under the License. *
*******************************************************************************@
@(user: User, userForm: play.data.Form[User], users: List[User], viewerId: String,
searchedUser: List[User], follow:Int)
@import util.TimeConvert


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/bootstrap.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/navbar-fixed-top.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/custom.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/profile.css")'>
<link rel="stylesheet" media="screen"
	href='@routes.Assets.at("stylesheets/main.css")'>
<link rel="shortcut icon" type="image/png"
	href='@routes.Assets.at("images/favicon.png")'>
<link href='@routes.Assets.at("stylesheets/bootstrap-editable.css")'
	rel="stylesheet" />
<link
	href='@routes.Assets.at("stylesheets/jquery.tablesorter.pager.css")'
	rel="stylesheet" />
<link href='@routes.Assets.at("stylesheets/style.css")' rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'>
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">

<script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/bootstrap.min.js")'
	type="text/javascript"></script>
<script type='text/javascript'
	src='@routes.Assets.at("javascripts/lastLoader.js")'></script>
<script type='text/javascript'
	src='@routes.Assets.at("javascripts/jquery.metadata.js")'></script>
<script type='text/javascript'
	src='@routes.Assets.at("javascripts/jquery.tablesorter.js")'></script>


<script type='text/javascript'
	src='@routes.Assets.at("javascripts/jstree.js")'></script>
<script type='text/javascript'
	src='@routes.Assets.at("javascripts/keyword_tree.js")'></script>
<script type='text/javascript'
	src='@routes.Assets.at("javascripts/home.js")'></script>

<script src='@routes.Assets.at("javascripts/bootstrap-editable.min.js")'></script>
</head>
<body>
	@header(User.get(viewerId).getUserName, User.get(viewerId).getId.toString)
	<br />
	<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="row panel wall-paper">
			<div class="col-md-4 bg_blur ">

				@if(follow==1){
				<a href="/network/follow/@viewerId/@user.getId" class="follow_btn hidden-xs">
				Follow  </a>}
				@if(follow==0){
				<a href="/network/unfollow/@viewerId/@user.getId" class="follow_btn hidden-xs">
				Unfollow</a>}

			</div>
			<div class="col-md-8  col-xs-12">
				<img src="@user.getUrl" class="img-thumbnail picture hidden-xs" />
				<img src="@user.getUrl" class="img-thumbnail visible-xs picture_mob" />
				<div class="header" style="color: white">
					<h1>@user.getFirstName @user.getLastName</h1>
					<h4>@user.getAffiliation</h4>
					<span></span>
				</div>
			</div>

		</div>
		<div class="row nav">
			<div class="col-md-4 row-xs-12">
				<div class="row-md-3 row-xs-3 well-margin">
					<i class="glyphicon glyphicon-user"></i> @user.getUserName()
				</div>
				<div class="row-md-3 row-xs-3 ">
					<i class="glyphicon-envelope glyphicon"></i> @user.getEmail
				</div>
				<div class="row-md-3 row-xs-3 ">
					<i class="fa fa-thumbs-o-up fa-lg"></i> @user.getTitle
				</div>
				<div class="row-md-3 row-xs-3 ">
					<i class="fa fa-thumbs-o-up fa-lg"></i> @user.getResearchFields <a
						class="glyphicon-pencil glyphicon" style="float: right"
						href="@routes.ProfileController.get(user.getId().toString())">
						Edit</a>
				</div>

			</div>
			<div class="col-md-8 col-xs-12" style="margin: 0px; padding: 0px;">
				<div class="col-md-4 col-xs-4 well">
					<i class="glyphicon-home glyphicon"></i> <a
						href="@routes.ProfileController.get(user.getId().toString())">
						About</a>
				</div>
				<div id="btnPost" class="col-md-4 col-xs-4 well">
					<i class="glyphicon-pencil glyphicon"></i> Post
				</div>
				<div id="btnFollwers" class="col-md-4 col-xs-4 well">
					<i class="fa fa-thumbs-o-up fa-lg"></i> Followers
				</div>
			</div>
		</div>
		<div class="box row" id="main">
			<div class="col-md-4 row-xs-12"></div>
			<div class="col-md-8 col-xs-12" style="margin: 0px; padding: 0px;">
				<!-- /top nav -->
                        @for(user <- searchedUser) {
                            <div class="row">
                                <div class="col-md-4">
                                     <img class="img-responsive"  alt = "no pic" src="@user.getUrl">
                                </div>
                                <div class="col-md-8">
                                    <h4 class="media-heading">@user.getFirstName @user.getLastName</h4>
                                    <div>Research Interests: @user.getResearchFields</div>
									<div>
										<form action="/network/search/go/@viewerId/@user.getId" method="GET">
											<input type="submit" value="HOME PAGE">
										</form>
									</div>
                                </div>
                            </div>
                        }
                <div id="followers" class="panel"
						style="color: black; display: none">
						<div style="width: 20%">
							<p>
							<h4>Followers</h4>
							<ul>
								@for(u <- users) {
								<li>@u.getFirstName @u.getLastName</li> }
							</ul>
							</p>
						</div>
					</div>
				</div>
				<!--/row-->
			</div>
		</div>
	</div>


</body>
</html>